$fullwidth: 100%; 
$normalmargin: 40px;
$halfMargin: 20px;  
$normalPadding: 15px;
$titlesColor: #444;  
$nornalFont: 16px;
$whiteColor: #ffffff;
$blackColor: #000000;
$greyColor: #eaeaea;
$headerColor: #031633;
$titleFonts: 'Roboto', sans-serif; 
$mainFonts: 'Open Sans', sans-serif;  